
/* Simple Css */

li{font-size: 22px; font-family: sans-serif;}

a{font-family: sans-serif; color: lightblue;}

p{font-family: sans-serif; font-size: 15px; color:white;}

.paragrafo{background-color: green; border: 10px solid red;}

/*Created By Anonik */
